<app-navbar/>

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="ipt-title">Our Articles</h2>
                <span class="ipn-subtitle">See Our Latest Articles & News</span>
            </div>
        </div>
    </div>
</div>

<section class="gray-simple">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="sec-heading center">
                    <h2>Latest News</h2>
                    <p>We post regulary most powerful articles for help and support.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-4">
            <div *ngFor="let item of blogData" class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog-wrap-grid h-100 shadow">
                    <div class="blog-thumb">
                        <a [routerLink]="['/blog-detail',item.id]"><img [src]="item.image" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="blog-info">
                        <span class="post-date label bg-seegreen text-light"><i class="ti ti-calendar"></i>{{item.date}}</span>
                    </div>
                    <div class="blog-body">
                        <h4 class="bl-title"><a [routerLink]="['/blog-detail',item.id]">{{item.title}}</a></h4>
                        <p>{{item.desc}}</p>
                        <a [routerLink]="['/blog-detail',item.id]" class="text-primary fw-medium">Continue<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="pagination p-center">
                    <li class="page-item">
                      <a class="page-link" [routerLink]="[]" aria-label="Previous">
                        <i class="fa-solid fa-arrow-left-long"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" [routerLink]="[]">1</a></li>
                    <li class="page-item"><a class="page-link" [routerLink]="[]">2</a></li>
                    <li class="page-item active"><a class="page-link" [routerLink]="[]">3</a></li>
                    <li class="page-item"><a class="page-link" [routerLink]="[]">...</a></li>
                    <li class="page-item"><a class="page-link" [routerLink]="[]">18</a></li>
                    <li class="page-item">
                      <a class="page-link" [routerLink]="[]" aria-label="Next">
                        <i class="fa-solid fa-arrow-right-long"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                </ul>
            </div>
        </div>					
    </div>
</section>

<app-footer-top [bg]="'theme-bg'"/>

<app-footer/>