<app-navbar/>

<div class="image-cover page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="ipt-title">Agent Detail</h2>
                <span class="ipn-subtitle">{{data?.name ? data?.name : 'Adam D. Okraar'}} From Canada</span>
            </div>
        </div>
    </div>
</div>

<section class="agent-page p-0 gray-simple">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="agency agency-list overlio-40">
                    <div class="agency-avatar">
                        <img [src]="data?.image ? data?.image : 'assets/img/user-5.jpg'" alt="">
                    </div>
                    <div class="agency-content">
                        <div class="agency-name">
                            <h4><a [routerLink]="'/agency-page'">{{data?.name ? data?.name : 'Adam D. Okraar'}}</a></h4>
                            <span><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                        </div>
                        <div class="agency-desc">
                            <p>Think of a news blog that's filled with content hourly on the day of going live However, reviewers tend to be distracted by comprehensible content. In a professional context it often happens that private or corporate clients corder a publication to be made and presented with the actual content still not being ready.</p>
                        </div>
                        
                        <div class="prt-detios">
                            <span class="label text-light bg-success">202 Property</span>
                        </div>
                        
                        <ul class="social-icons mt-3">
                            <li><a class="facebook" [routerLink]="[]"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a class="twitter" [routerLink]="[]"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="linkedin" [routerLink]="[]"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a class="linkedin" [routerLink]="[]"><i class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="min gray-simple">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="block-wrap">
                    <div class="block-header">
                        <h4 class="block-title">Agent Info</h4>
                    </div>
                    <div class="block-body">
                        <ul class="dw-proprty-info">
                            <li><strong>Ceo</strong>Mr. Adam Vilawo</li>
                            <li><strong>Email</strong>Isvali&#64;gmail.com</li>
                            <li><strong>Phone</strong>+91 235 658 4758</li>
                            <li><strong>Skype</strong>isva24lia</li>
                            <li><strong>Address</strong>320, Near Iswar</li>
                            <li><strong>City</strong>New York</li>
                            <li><strong>Country</strong>United State</li>
                            <li><strong>Stab.</strong>2007</li>
                        </ul>
                    </div>
                    
                </div>
                
                <div class="block-wraps">
                    <div class="block-wraps-header">
                        <div class="block-header">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <a class="nav-link active px-4" id="rental-tab" data-bs-toggle="pill" href="#rental" role="tab" aria-controls="rental" aria-selected="true">Rental</a>
                              </li>
                              <li class="nav-item" role="presentation">
                                <a class="nav-link px-4" id="sale-tab" data-bs-toggle="pill" href="#sale" role="tab" aria-controls="sale" aria-selected="false">For Sale</a>
                              </li>
                            </ul>
                        </div>
                        
                        <div class="block-body">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="rental" role="tabpanel" aria-labelledby="rental-tab">
                                    <div class="row justify-content-center g-4">
                                        <div *ngFor="let item of propertyData.slice(0,6)" class="col-lg-6 col-md-6 col-sm-12">
                                            <app-grid-layout [item]="item" [border]="true"/>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
                                            <a [routerLink]="[]" class="btn btn-primary px-md-5 rounded">Browse More Properties</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                                    <div class="row justify-content-center g-4">
                                        <div *ngFor="let item of propertyData.slice(3,9)" class="col-lg-6 col-md-6 col-sm-12">
                                            <app-grid-layout [item]="item" [border]="true"/>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
                                            <a [routerLink]="[]" class="btn btn-primary px-md-5 rounded">Browse More Properties</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <app-property-sidebar [agent]="true"/>
            </div>
        </div>					
    </div>	
</section>
<app-footer-top [bg]="'theme-bg'"/>
<app-footer/>