<app-navbar/>
<app-detail-slider/>

<section class="gray-simple rtl p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-md-12">
                <div class="property_block_wrap style-3">
                    <div class="pbw-flex-1">
                        <div class="pbw-flex-thumb">
                            <img [src]="'assets/img/agency-1.png'" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="pbw-flex">
                        <div class="prt-detail-title-desc">
                            <span class="label text-light bg-success">For Sale</span>
                            <h3 class="mt-2">{{data?.name ? data?.name : 'Jannat Graynight Mood In Siver Colony, London'}}</h3>
                            <span><i class="lni-map-marker"></i> 778 Country St. Panama City, FL</span>
                            <h3 class="prt-price-fix text-primary mt-2">$7,600<sub>/month</sub></h3>
                            <div class="list-fx-features">
                                <div class="listing-card-info-icon">
                                    <div class="inc-fleat-icon me-1"><img [src]="'assets/img/bed.svg'" width="13" alt=""></div>3 Beds
                                </div>
                                <div class="listing-card-info-icon">
                                    <div class="inc-fleat-icon me-1"><img [src]="'assets/img/bathtub.svg'" width="13" alt=""></div>1 Bath
                                </div>
                                <div class="listing-card-info-icon">
                                    <div class="inc-fleat-icon me-1"><img [src]="'assets/img/move.svg'" width="13" alt=""></div>800 sqft
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>

<section class="gray-simple min">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <app-property-detail/>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <app-property-sidebar/>
            </div>
        </div>
    </div>
</section>

<app-footer-top [bg]="'theme-bg'"/>

<app-footer/>