<div class="card border-0 rounded-4 h-100 position-relative">
    <a [routerLink]="'/place-search'">
        <div class="abx-thumb" data-overlay="3">
            <img [src]="item.image" class="img-fluid" alt="">
        </div>
    </a>
    <div class="position-absolute top-0 left-0 mt-3 ms-3 z-1">
        <div class="d-inline-flex align-items-center justify-content-start">
            <div class="flex-shrink-0">
                <div class="square--50 circle"><img [src]="item.image" class="img-fluid h-100 object-fit circle" alt=""></div>
            </div>
            <div class="explo-caption ps-3">
                <div class="label d-inline-flex bg-primary text-light mb-1">{{item.loction}}</div>
                <div class="text-light fw-medium">{{item.property}}</div>
            </div>
        </div>
    </div>
</div>
