<div class="featured_slick_gallery gray">
    <div class="featured_slick_gallery-slide">
        <div class="featured_slick_padd"><a [routerLink]="[]" class="mfp-gallery"><img [src]="'assets/img/p-1.jpg'" class="img-fluid mx-auto" alt="" /></a></div>
        <div class="featured_slick_padd"><a [routerLink]="[]" class="mfp-gallery"><img [src]="'assets/img/p-2.jpg'" class="img-fluid mx-auto" alt="" /></a></div>
        <div class="featured_slick_padd"><a [routerLink]="[]" class="mfp-gallery"><img [src]="'assets/img/p-3.jpg'" class="img-fluid mx-auto" alt="" /></a></div>
        <div class="featured_slick_padd"><a [routerLink]="[]" class="mfp-gallery"><img [src]="'assets/img/p-4.jpg'" class="img-fluid mx-auto" alt="" /></a></div>
    </div>
    <a [routerLink]="[]" class="btn-view-pic">View photos</a>
</div>
