<app-navbar-top/>

<app-navbar/>

<div class="home-slider margin-bottom-0">
    <div class="item" style="background: url('assets/img/slider-1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider-container">
                        <div class="home-slider-desc">
                            <div class="modern-pro-wrap">
                                <span class="property-type bg-light-success text-success">For Sale</span>
                                <span class="property-featured bg-danger">Featured</span>
                            </div>
                            <div class="home-slider-title">
                                <h3><a [routerLink]="'/single-property-page-1'">Aashirvaad Apartment</a></h3>
                                <span><i class="ti ti-location-pin"></i> 778 Country St. Panama City, FL</span>
                            </div>
                            <div class="slide-property-info">
                                <ul>
                                    <li>Beds: 4</li>
                                    <li>Bath: 2</li>
                                    <li>sqft: 5270</li>
                                </ul>
                            </div>
                            <div class="listing-price-with-compare">
                                <h4 class="list-pr fs-3">$2,580</h4>
                                <div class="lpc-right d-flex align-items-center mt-3">
                                    <a [routerLink]="'/compare-property'" class="square--50 rounded gray-simple me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare Property"><i class="fa-solid fa-code-compare"></i></a>
                                    <a [routerLink]="[]" class="square--50 rounded gray-simple" data-bs-toggle="tooltip" data-bs-placement="top" title="Save Property"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                            <a [routerLink]="'/single-property-page-1'" class="read-more bg-primary">View Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="item" style="background: url('assets/img/slider-2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider-container">
                        <div class="home-slider-desc">
                            <div class="modern-pro-wrap">
                                <span class="property-type bg-light-success text-success">For Sale</span>
                                <span class="property-featured bg-danger">Featured</span>
                            </div>
                            <div class="home-slider-title">
                                <h3><a [routerLink]="'/single-property-page-1'">Aashirvaad Apartment</a></h3>
                                <span><i class="ti ti-location-pin"></i> 778 Country St. Panama City, FL</span>
                            </div>
                            <div class="slide-property-info">
                                <ul>
                                    <li>Beds: 4</li>
                                    <li>Bath: 2</li>
                                    <li>sqft: 5270</li>
                                </ul>
                            </div>
                            <div class="listing-price-with-compare">
                                <h4 class="list-pr fs-3">$2,580</h4>
                                <div class="lpc-right d-flex align-items-center mt-3">
                                    <a [routerLink]="'/compare-property'" class="square--50 rounded gray-simple me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare Property"><i class="fa-solid fa-code-compare"></i></a>
                                    <a [routerLink]="[]" class="square--50 rounded gray-simple" data-bs-toggle="tooltip" data-bs-placement="top" title="Save Property"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                            <a [routerLink]="'/single-property-page-1'" class="read-more bg-primary">View Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="background: url('assets/img/slider-3.jpg');" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider-container">
                        <div class="home-slider-desc">
                            <div class="modern-pro-wrap">
                                <span class="property-type bg-light-success text-success">For Sale</span>
                                <span class="property-featured bg-danger">Featured</span>
                            </div>
                            <div class="home-slider-title">
                                <h3><a [routerLink]="'/single-property-page-1'">Aashirvaad Apartment</a></h3>
                                <span><i class="ti ti-location-pin"></i> 778 Country St. Panama City, FL</span>
                            </div>
                            <div class="slide-property-info">
                                <ul>
                                    <li>Beds: 4</li>
                                    <li>Bath: 2</li>
                                    <li>sqft: 5270</li>
                                </ul>
                            </div>
                            <div class="listing-price-with-compare">
                                <h4 class="list-pr fs-3">$2,580</h4>
                                <div class="lpc-right d-flex align-items-center mt-3">
                                    <a [routerLink]="'/compare-property'" class="square--50 rounded gray-simple me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare Property"><i class="fa-solid fa-code-compare"></i></a>
                                    <a [routerLink]="[]" class="square--50 rounded gray-simple" data-bs-toggle="tooltip" data-bs-placement="top" title="Save Property"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                            <a [routerLink]="['/single-property-page-1']" class="read-more bg-primary">View Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>How It Works?</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>
        <app-how-its-work/>
    </div>
</section>
<div class="clearfix"></div>

<section class="gray-simple">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Explore Good places</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>
        <app-grid-one/>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
                <a [routerLink]="'/listings-list-with-sidebar'" class="btn btn-primary px-md-5 rounded">Browse More Properties</a>
            </div>
        </div>
    </div>	
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Explore Good places</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-4">
            <div *ngFor="let item of explorePlace.slice(0,8)" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <app-explore-place [item]="item"/>
            </div>
        </div>
    </div>	
</section>

<section class="gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Good Reviews by Customers</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>
        <app-client/>
    </div>
</section>


<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Explore Featured Agents</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <app-team-one/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
                <a [routerLink]="'/listings-list-with-sidebar'" class="btn btn-primary px-lg-5 rounded">Explore More Agents</a>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<app-footer-top [bg]="'theme-bg'"/>

<app-footer/>